/* Reset CSS */
body, h1, p, form {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  
  /* Global styles */
  body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    /* background: linear-gradient(to bottom right, #9dcce9, #f09898); */
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;

    background-image: url("background.png"); /* Path to your background image */
    background-size: cover;
    background-position: center;

  }
  
  .container {
  }
    
  h1 {
    font-size: 2.5rem;
    margin-bottom: 20px;
    text-align: center;
  }
  
  .subtitle {
    font-size: 1.1rem;
    margin-bottom: 30px;
    color: #3d3d3d;
    text-align: center;
  }
  
  form {
    text-align: center;
  }
  
  .inputfile {
    display: none;
  }
  
  label {
    background-color: #4CAF50;
    color: white;
    padding: 10px 20px;
    font-size: 1.2rem;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
  }
  
  label:hover {
    background-color: #45a049;
  }
  
  input[type="submit"] {
    background-color: #008CBA;
    color: white;
    padding: 10px 20px;
    font-size: 1.2rem;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
  }

  input[type="submit"] {
    background-color: #005F6B;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    margin-top: 40px;
  }
  
  .checkbox-container {
    margin-top: 40px;
  }

  .tabs {
    display: flex;
    margin-bottom: 10px;
    margin-top: 10px;
    justify-content: center; /* Center elements horizontally */
    position: fixed;
    top: 0; /* Position at the top of the viewport */
    left: 50%; /* Position at the center horizontally */
    transform: translateX(-50%); /* Offset to center horizontally */
    width: 100%; /* Make the element span the entire width */
    /* Additional styles for the tabs (e.g., background-color, padding) */
  }

.tab-button {
    cursor: pointer;
    outline: none;
    transition: background-color 0.3s;
    margin-right: 5px;

    background-color: #919ca0;
    color: white;
    padding: 10px 20px;
    font-size: 1.2rem;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
  }

.tab-button.active {
    background-color: #008CBA;
}

.tab-content {
    display: none;
    padding: 20px;
    border: 1px solid #ccc;
    margin-top: 10px;

    /* background-color: #fff; */
    background-color: rgba(255, 255, 255, 0.6); /* Semi-transparent white background */
    border-radius: 10px;
    padding: 30px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
}

.tab-content.active {
    display: block;
}

