<!doctype html>
<html >
<head>
  <meta charset="UTF-8">
  
  <!-- Make it compatible to mobile devices -->
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Bass companion</title>
 
  
</head>


<body style="background: #000;">

<h2 style="color:cyan">Drum generator for your bass track!!!</h2><p>
<h4 style="color:cyan;">Upload me a bass track midi file and I will give you drum track. Bass track better be in tempo 100 and rythm 4/4. I won't complain if you give other tempos or rythm but my output might sound weird</h4>


<form method="post" action="/" enctype="multipart/form-data">
    <dl>
	<p style="color:Violet;">
		<input type="file" name="file" autocomplete="off" required>
	</p>
    </dl>
    <p style="color:Violet;">
	<input type="submit" name="submit" value="Submit">
    </p>
</form>



<p style="color:MediumSeaGreen;">
	{% with messages = get_flashed_messages() %}
	{% endwith %}
</p>



</body>

